<!DOCTYPE html>
<html>
<head>
  <title>My Blog - Edit Post</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <%- include("partials/header.ejs") %>

  <div id="edit-container">
    <h2>Edit Post</h2>
    <form method="POST" action="/edit/<%= post.id %>">
      <input type="text" name="title" value="<%= post.title %>" required><br>
      <textarea name="content" required><%= post.content %></textarea><br>
      <button id="create-post-btn" type="submit">Update Post</button>
    </form>
  </div>
  <%- include("partials/footer.ejs") %>
</body>
</html>
